body {
  background-color: rgb(28, 28, 209);
}

table {
  border-collapse: collapse;
  background-color: aqua;
}
td {
  width: 1000px;
  border: 1px solid black;
}
.container-fluid {
  padding: 0;
}
